@model Garage2.ViewModels.MemberDetailsViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Member Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    <hr />
    <h4>Owned vehicles</h4>
    @foreach(var vehicle in Model.OwnedVehicles)
    {
        <span><strong>@vehicle.RegistrationNumber:</strong> @vehicle.Manufacturer @vehicle.Model <a asp-controller="Vehicles" asp-action="Details" asp-route-regNum="@vehicle.RegistrationNumber" asp-route-fromMember="true">Details</a></span><br />
    }
</div>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
