@model (VehicaleSummaryDetailsViewModel, bool)
@{
    <h1>Vehicle Details</h1>
 }

<div>


    <hr />

    <dl class="row">

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Item1.RegistrationNumber)

        </dt>

        <dd class="col-sm-10">

            @Model.Item1.RegistrationNumber

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Item1.Type)

        </dt>

        <dd class="col-sm-10">

            @Model.Item1.Type.Name

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Item1.Colour)

        </dt>

        <dd class="col-sm-10">

            @Model.Item1.Colour

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Item1.Model)

        </dt>

        <dd class="col-sm-10">

            @Model.Item1.Model

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Item1.Manufacturer)

        </dt>

        <dd class="col-sm-10">

            @Model.Item1.Manufacturer

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Item1.ParkingTime)

        </dt>

        <dd class="col-sm-10">

            @Model.Item1.ParkingTime.ToString(@"dd\:hh\:mm")

        </dd>

    </dl>

</div>

<div>
    @if (Model.Item2)
    {
        <a asp-controller="Members" asp-action="Index">Back to Member list</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>