@model VehicaleSummaryDetailsViewModel
@{
    <h1>Garage index</h1>


<div class="container">
    <table class="table">
        <thead>
            <tr class="">

                <td>
                    Registration No
                </td>

                <td>
                    Vehical type
                </td>
                <td>
                    Color
                </td>
                <td>
                    Model
                </td>
                <td>
                    Manufacture By
                </td>
                <td>
                    Parking Time
                </td>

            </tr>
        </thead>

        <tbody>
            <tr>

                
                <td>@Model.RegistrationNumber</td>
                <td>@Model.Type</td>
                <td>@Model.Colour</td>
                <td>@Model.Model</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.ParkingTime.ToString(@"dd\:hh\:mm")</td>


            </tr>

            <tr>
                
                <td>
                    <a asp-action="Index">Back to List</a>
                </td>
               
            </tr>

        </tbody>
    </table>
</div>

}

