@model IEnumerable<ParkedVehicle>

@{
    ViewData["Title"] = "Filter";
}

    <h1>Filter By Registration Number </h1>

<form asp-action="Filter">

    <div class="input-group mb-3">

        <input type="text" name="RegNum" class="form-control" placeholder="Search on title" />

        <div class="input-group-append">

            <select name="type" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control">
                <option selected="selected" value=""> Select</option>
            </select>

        </div>

        <div class="input-group-append">

            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>

        </div>

    </div>

</form>

<table class="table">

    <thead>

        <tr>

            <th>

                Registration Number

            </th>

            <th>

                Type

            </th>

            <th>

                Manufacturer

            </th>

            <th>

                Colour

            </th>

            <th>

                Model

            </th>

            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.RegistrationNumber)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Type)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Manufacturer)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Colour)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Model)

            </td>

        </tr>

        }

    </tbody>

</table>

