@model IEnumerable<ParkedVehicle>
@{
    ViewData["Title"] = "Filter";
}

<h1>Filter</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Registration Number", "Sort", new { sortOrder = ViewBag.RegistrationNumberSortParm })
            </th>
            <th>
                @Html.ActionLink("Type", "Sort", new { sortOrder = ViewBag.TypeSortParm })
            </th>

            <th>
                @Html.ActionLink("Colour", "Sort", new { sortOrder = ViewBag.ColourSortParm })
            </th>

            <th>
                @Html.ActionLink("Manufacturer", "Sort", new { sortOrder = ViewBag.ManufacturerSortParm })
            </th>
            <th>
                @Html.ActionLink("Model", "Sort", new { sortOrder = ViewBag.ModelSortParm })
            </th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                
                <td>
                    <a asp-action="UnPark" asp-route-regNum="@item.RegistrationNumber">UnPark</a>
                </td>
            </tr>
        }

    </tbody>

</table>