@model IEnumerable<VehicleSummaryViewModel>
@{

  
    <h1>Garage index</h1>
    <table class="table">

        <thead>

            <tr>

                <th>

                    Registration Number

                </th>

                <th>

                    Type

                </th>

                <th>

                    Colour

                </th>

                <th>

                    Parking Time

                </th>



                <th></th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)

            {

            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.RegistrationNumber)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Type)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Colour)

                </td>



                <td>

                    @item.ParkingTime.ToString("d")

                </td>

                <td>
                    <a asp-action="UnPark" asp-route-regNum="@item.RegistrationNumber">UnPark</a> 

                </td>

            </tr>

            }

        </tbody>

    </table>

}
