@model Tuple<ParkedVehicle, ParkingContract, DateTime, TimeSpan>

@{
    ViewData["Title"] = "Parking Receipt";
}

<h1>Parking Receipt</h1>

<div>
    <h3>Car Details</h3>
    <label asp-for="@Model.Item1.RegistrationNumber"></label>
    <span><strong>@Model.Item1.RegistrationNumber</strong></span><br />
    <label asp-for="@Model.Item1.Colour"></label>
    <span><strong>@Model.Item1.Colour</strong></span><br />
    <label asp-for="@Model.Item1.Manufacturer"></label>
    <span><strong>@Model.Item1.Manufacturer</strong></span><br />
    <label asp-for="@Model.Item1.Model"></label>
    <span><strong>@Model.Item1.Model</strong></span>
</div>
<hr />
<div>
    <h3>Parking Details</h3>
    <p>
        <strong>Parking date:</strong>@Model.Item2.ParkingDate<br />
        <strong>Unparking date:</strong>@Model.Item3
    </p>
</div>
<hr />
<div>
    <h3>Parking Cost</h3>
    <p class="align-self-end">
        <span>Price: <strong>xxx SEK</strong> per time unit</span><br />
        <span>Total parking time: <strong>@Model.Item4.Days.ToString() days, @Model.Item4.Hours hours, @Model.Item4.Minutes minutes</strong></span>
        <span class="text-right">Total: <strong>Price SEK</strong></span>
    </p>
</div>

