@model Tuple<ParkedVehicle, DateTime, TimeSpan, decimal, string>

@{
    ViewData["Title"] = "Parking Receipt";
}

<h1>Parking Receipt</h1>
<hr />
<div>
    <h3>Member Name</h3>
      @Model.Item5<br />
</div>
<hr />
<div>
    <h3>Vehicle Details</h3>
    <label asp-for="@Model.Item1.RegistrationNumber"></label>
    <span><strong>@Model.Item1.RegistrationNumber</strong></span><br />
    <label asp-for="@Model.Item1.Colour"></label>
    <span><strong>@Model.Item1.Colour</strong></span><br />
    <label asp-for="@Model.Item1.Manufacturer"></label>
    <span><strong>@Model.Item1.Manufacturer</strong></span><br />
    <label asp-for="@Model.Item1.Model"></label>
    <span><strong>@Model.Item1.Model</strong></span>
</div>
<hr />
<div>
    <h3>Parking Details</h3>
    <p>
        <strong>Parking date: </strong>@Model.Item1.ParkingDate<br />
        <strong>Unparking date: </strong>@Model.Item2
    </p>
</div>
<hr />
<div>
    <h3>Parking Cost</h3>
    <p class="align-self-end">
        <span>Price: <strong>0,05 SEK</strong> per minute (max 50 SEK per day)</span><br />
        <span>Total parking time: <strong>@Model.Item3.Days.ToString() days, @Model.Item3.Hours hours, @Model.Item3.Minutes minutes</strong></span>
        <span class="text-right">Total: <strong>@System.Math.Ceiling(Model.Item4) SEK</strong></span>
    </p>
</div>

