@model VehicleSummaryUnparkViewModel
@{
    ViewData["Title"] = "UnPark";
}

    <h1>Unpark Vehicle</h1>

<h3>Are you sure you want to unpark this Vehicle?</h3>

<div>

    @*<h4>UnPark Vehicle</h4>*@

    <hr />

    <dl class="row">

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.RegistrationNumber)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.RegistrationNumber)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Type)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Type.Name)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Model)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Model)

        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Manufacturer)

        </dt>

        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Manufacturer)

        </dd>

    </dl>

    <form asp-action="UnPark" asp-route-RegNum="@Model.RegistrationNumber">

        <input type="hidden" asp-for="RegistrationNumber"  />

        <input type="submit" value="Unpark" class="btn btn-danger"/> |

        <a asp-action="Index">Back to List</a>

    </form>

</div>

